# Lecture 5 & 6: Practice Loops + Dictionaries .

#### Important note: The largest number in python is `float("inf")` and the smallest number in python is `float("-inf")`

In [3]:
float("inf") > 10000000000000000000000000000000000

True

In [2]:
float("-inf") < - 10000000000000000000000000000000000000000000

True

## Methods we will be using in this Notebook.

### `.append()`   `.update()` `.values()`

# Write a function that prints out all the numbers from 1 to 10 . write this function once using a for loop and another time using a while loop. [Student will solve this]

In [3]:
#### Write your function here. ####

def print_all():
    i = 1
    while i <= 10:
        print(i)
        i += 1
        


def print_all_for():
    for i in range(1, 11):
        print(i)

In [4]:
print_all_for()

1
2
3
4
5
6
7
8
9
10

In [2]:
print_all()

1
2
3
4
5
6
7
8
9
10

In [150]:
# write the function call here.

# Solution.

#### For loop.

In [151]:
def print_all():
    for i in range(1,11):
        print(i)
print_all()

1
2
3
4
5
6
7
8
9
10

#### WHILE loop

In [152]:
def print_all_while():
    i = 1
    while i < 11:
        print(i)
        i = i + 1
        
        
        
        
print_all_while()

1
2
3
4
5
6
7
8
9
10

In [18]:
add_10()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Write a function that prints out all the even numbers from 1 to 21. write this function once using a for loop and another time using a while loop. [Student will solve this]

Hint use: %2 == 0

In [5]:
def print_even():
    i = 1
    while i <= 21:
        if i % 2 == 0:
            print(i)
        i += 1
        
def print_even_2():
    for i in range(1, 22):
        if i % 2 == 0:
            print(i)

In [6]:
print_even()

2
4
6
8
10
12
14
16
18
20

In [6]:
fun()

1
joe
omar

# Solution

In [154]:
def print_even():
    for i in range(1,21):
        if i%2 == 0:
            print(i)
            
            
            
print_even()

2
4
6
8
10
12
14
16
18
20

#### WHILE loop

In [155]:
def print_even_while():
    i = 1
    while i < 21:
        if i%2 == 0:
            print(i)
        i += 1
            
            
print_even_while()

2
4
6
8
10
12
14
16
18
20

# Write a function that `prints` out all the odd numbers from 1 to 20. Do this once in a for loop and once using a while loop.

In [7]:
def print_odd():
    i = 1
    while i <= 20:
        if i % 2 != 0:
            print(i)
        i += 1

In [8]:
# Solve here ##

print_odd()

1
3
5
7
9
11
13
15
17
19

# Solution

In [157]:
def print_odd():
    for i in range(1,21):
        if i%2 != 0:
            print(i)

#### WHILE loop

In [158]:
def print_odd2():
    i = 1
    while i < 21:
        if i%2 != 0:
            print(i)
        i += 1
print_odd2()

1
3
5
7
9
11
13
15
17
19

# Write a function that `return`s out all the even numbers from 1 to 15 in a list. write this once in a for loop and another using a while loop.

In [9]:
#### Solve here ###

def get_even():
    even_list = [] # .append()
    i = 1
    while i <= 15:
        if i % 2 == 0:
            even_list.append(i)
        i += 1
    return even_list

In [11]:
even = get_even()

In [12]:
even

[2, 4, 6, 8, 10, 12, 14]

# Solution

In [160]:
def return_even():
    ans = []
    for i in range(1,16):
        if i%2 == 0:
            ans.append(i)
    return ans

return_even()

[2, 4, 6, 8, 10, 12, 14]

#### WHILE loop

In [161]:
def return_even_while():
    ans = []
    i = 16
    while i > 1:
        if i%2 == 0:
            ans.append(i)
        i = i - 1
    return ans

return_even()

[2, 4, 6, 8, 10, 12, 14]

# Write a function that `return`s out all the even numbers from   `25 to 5` in a list.

Hint: notice that it is from 25 to 5 and NOT from 5 to 25

In [13]:
def return_even():
    i = 25
    even_list = []
    while i >= 5:
        if i % 2 == 0:
            even_list.append(i)
        i = i - 1
    return even_list

In [14]:
return_even()

[24, 22, 20, 18, 16, 14, 12, 10, 8, 6]

In [16]:
def return_even():
    even_list = []
    for i in range(25, 4, -1):
        if i % 2  == 0:
            even_list.append(i)
    return even_list

In [17]:
return_even()

[24, 22, 20, 18, 16, 14, 12, 10, 8, 6]

In [33]:
def return_even():
    even_list = []
    for number in range(25, 3,-1):
        if (number % 2) == 0:
            even_list.append(number)
    return even_list
        
def return_even2():
    start = 25
    end = 4
    even_list = []
    while start > end:
        if start % 2 == 0:
            even_list.append(start)
        start = start - 1
    return even_list

In [34]:
return_even2()

[24, 22, 20, 18, 16, 14, 12, 10, 8, 6]

# Solution.

In [162]:
def return_even():
    ans = []
    for i in range(25, 5, -1):
        if i%2 == 0:
            ans.append(i)
    return ans

return_even()

[24, 22, 20, 18, 16, 14, 12, 10, 8, 6]

## Write a function that takes a list as a parameter and returns the sum in a list.

In [18]:
#         0   1   2  3    4
array = [100,230,10,55, 10000] # 5
array[0]

100

In [19]:
array[1]

230

In [20]:
array[2]

10

55

In [22]:
#### write the function here ####

def get_sum(new_list):
    total = 0
    for value in new_list:
        total = total + value
    return total

def get_sum(new_list):
    total = 0
    n = len(new_list)
    for i in range(0, n): 
        value = array[i]
        total = total + value
    return total
        
def get_sum(new_list) :
    total = 0
    i = 0
    n = len(new_list)
    
    while i < n:
        value = new_list[i]
        total = total + value
        i = i + 1
    return total

In [23]:
get_sum([100,200,300])

600

In [35]:
list1 = [1,2,6]
sum(list1)

9

In [27]:
def add_nums(num1, num2):
    if num1 < 0 or num2 < 0:
        return "hi joe"
    
    total = num1 + num2
    return total

In [28]:
add_nums(-1, 2)

'hi joe'

In [39]:
def new_sum(new_list):
    if len(new_list) == 0:
        return 0
    total = 0
    for number in new_list:
        total = total + number
    return total

In [40]:
new_sum(list1)

9

In [42]:
#        0  1  2  3
array = [1,10,20,19]

In [43]:
len(array)

4

In [41]:
sum(list1)

9

In [ ]:
array[2]

In [49]:
def new_sum_while(new_list):
    start = 0
    end = len(new_list) - 1
    total = 0
    while start < end + 1:
        total = total + new_list[start]
        start = start + 1  
    return total

In [50]:
new_sum_while([10,5,1])

16

# Solution.

In [164]:
def get_sum(new_list):
    total = 0
    for element in new_list:
        total = total + element
    return total
get_sum([1,2,2,3])

8

## Write a function that takes a list as a parameter and returns the total product in a list.

In [33]:
def get_prod(array):
    total_prod = 1
    for value in array:
        total_prod = total_prod * value
    return total_prod

def get_prod_idx(nums_list):
    tot_prod = 1
    n = len(nums_list)
    for i in range(0, n):
        value = nums_list[i]
        tot_prod = tot_prod * value
        print(tot_prod)
    return tot_prod

In [34]:
get_prod_idx([10,20,3,4,5100,100])

10
200
600
2400
12240000
1224000000

1224000000

In [35]:
def get_prod(new_list):
    i = 0
    n = len(new_list)
    total_prod = 1
    while i < n:
        value = new_list[i]
        total_prod = total_prod * value
        i = i + 1
    return total_prod

In [36]:
get_prod([1,200,200, 0])

0

In [165]:
#### solve here ###

def get_product(nums_list):
    total_prod = 1
    for number in num_list:
        total_prod = total_prod * number
    return total_prod


def get_product(num_list):
    total_prod = 1
    end = len(num_list)
    for idx in range(0, end):
        value = num_list[idx]
        total_prod = total_prod * value
    return total_prod


def get_product(num_list):
    total_prod = 1
    start = 0
    end = len(num_list) - 1
    while start < end:
        value = num_list[start]
        total_prod = total_prod * value
        start = start + 1
    return total_prod

# solution

In [166]:
def get_prod(new_list):
    total = 1
    for element in new_list:
        total *= element
    return total

get_prod([1,2,2,3])

12

###  Write a function that takes a list as a parameter and returns the number of items in the list. Do NOT use the built-in len()

In [40]:
def get_len(items):
    count = 0
    for value in items:
        count += 1
        print(value, count)
    return count

In [42]:
get_len([10,20,30,40,50])

10 1
20 2
30 3
40 4
50 5

5

In [167]:
## solve here ##

# Solution

In [43]:
def count_elements(new_list):
    count = 0
    for element in new_list:
        count += 1
    return count


# function call.
count_elements([1,2,3,4]) #4

# function call
count_elements([1,2,3,4,5]) #5

5

In [44]:
# testing
assert count_elements([1,2,3,4,8,10,13,15,17,18,20]) == 11
assert count_elements([-4-2,-6+2, 3+5, 9+0, 10/4, 12%4, 1*3]) == 7
assert count_elements([1, 2, 3, 4, 5]) == 5
assert count_elements(['a', 'b', 'c']) == 3
assert count_elements([]) == 0

#

#  Write a function that takes a list of integers as a parameter and returns the max element in the list. Do NOT use the built-in max() function.

In [46]:
max([200,10,2,57,500,1])

500

In [49]:
### solve here ####

def get_max(new_list):
    biggest = float("-inf")
    
    for number in new_list:
        if number > biggest:
            biggest = number
            print(biggest)
    return biggest

In [50]:
get_max([100,200,-9,-100,300,0])

100
200
300

300

# Solution.

In [171]:
def get_max(new_list):
    if len(new_list) == 0:
        return 0
    largest = float("-inf") # you could also use = - 999999999999999999999999999999999999999999999999999999999999999999999
    for element in new_list:
        if element >  largest:
            largest = element
    return largest

get_max([1,2,3,4,5,0,2,3,4])

5

In [172]:
assert get_max([-9, -23, -7, -2, -6, -8, -34, -24, -74, -31]) == -2
assert get_max([100,2,6,79,24,12,57,7,1,6,8,2,7,9]) == 100
assert get_max([-1, -2, -3, -4, -5]) == -1
assert get_max([-3, 2, 1, 3, -2, -1]) == 3
assert get_max([5]) == 5
assert get_max([]) == 0

# Write a function that takes a list of integers as a parameter and returns the min element in the list. Do NOT use the built-in min() function.


### Hint: smallest = float("inf")

In [51]:
min([1,2,3])

1

In [52]:
### Solve here ###


def get_min(new_array):
    
    if len(new_array) == 0:
        return 0
    
    
    smallest = float("inf")
    for value in new_array:
        if value < smallest:
            smallest = value
    return smallest

# Solution

In [174]:
def get_min(new_list):
    if len(new_list) == 0:
        return 0
    small = float("inf") # you could also use = 999999999999999999999999999999999999999999999999999999999999999999999
    for element in new_list:
        if element <  small:
            small = element
    return small

get_max([1,2,3,4,5,-1000,2,3,4])

-1000

# Write a function that takes two list of the same length and add them together then returns the resulting list.

In [53]:
list1 = [1,2,3]
list2 = [3,4,5]
list1 + list2

[1, 2, 3, 3, 4, 5]

In [58]:
### solve here. ###



def add_lists(list1, list2):
    n = len(list2)
    list3 = []
    for i in range(n):
        total = list1[i] + list2[i]
        list3.append(total)
    return list3

def add_lists_while(list1, list2):
    
    if len(list1) != len(list2):
        return -1
    
    n = len(list1)
    list3 = []
    i = 0
    while i < n:
        total = list1[i] + list2[i]
        list3.append(total)
        i += 1
    return list3

In [57]:
add_lists_while([1,2,3,4], [1,2,3,4])

[2, 4, 6, 8]

# Solution .

In [176]:
def add_lists(list1, list2):
    n = len(list1)
    answer = []
    for i in range(n):
        total = list1[i] + list2[i]
        answer.append(total)
    return answer

In [177]:
add_lists([1,2,3], [1,1,1])

[2, 3, 4]

#  Write a function that takes a list as a parameter and returns the reversed list. Do NOT use the built-in reverse() function.

In [178]:
# Example
word = ["c","a","r"]
print(word)
print(word[::-1])

['c', 'a', 'r']
['r', 'a', 'c']

In [61]:
# Solve here #


def get_reverse(new_list):
    n = len(new_list)
    reversed_list = []
    for i in range(n-1, -1, -1):
        value = new_list[i]
        reversed_list.append(value)
    return reversed_list

In [62]:
get_reverse([1,2,3])

[3, 2, 1]

# Two Solution.

In [ ]:
#      |
#["o","m","a","r"]
#          |

In [180]:
def reverse_string1(new_list):
    left = 0
    right = len(new_list) - 1
    
    while left < right:
        new_list[left], new_list[right] = new_list[right], new_list[left]
        left += 1
        right -= 1
    return new_list

reverse_string1(["o","m","a","r"])

['r', 'a', 'm', 'o']

In [181]:
#### Solve right code here ####
def reverse_string2(new_list):
    answer = []
    for end_i in range(len(new_list)-1,-1,-1):
        answer.append(new_list[end_i])
    return answer

reverse_string1(["c","a","r"])

['r', 'a', 'c']

# Dictionaries [HashMaps]

### Create a dictionary with random names and ages.

In [63]:
# Solve here #

dict1 = {"Ali":21 , "joe": 43}

# Solution.

In [183]:
dict1 = {"omar": 25, "joe":34, "mohamed": 50}
dict1

{'omar': 25, 'joe': 34, 'mohamed': 50}

# Question : write a function that takes in a dictionary and add all the values and then return them


Input : {'a': 100, 'b':200, 'c':300}

output: 100 + 200 + 300

In [65]:
dict1 = {'a': 100, 'b':200, 'c':300}
dict1["b"]

200

In [184]:
dict1 = {'a': 100, 'b':200, 'c':300}
# Solve here

def get_dic_total(dict1):
    total = 0
    for value in dict1.values():
        total = total + value
    return total

def get_dic_tot(dict1):
    total = 0
    for key in dict1:
        value = dict1[key]
        total += value
    return total

# Solution

In [185]:
def get_total(dict1):
    total = 0
    for key in dict1:
        total += dict1[key]
    return total
get_total(dict1)

600

In [186]:
def get_total(dict1):
    total = 0
    for value in dict1.values():
        total += value
    return total
get_total(dict1)

600

# Exercise : Below are the two lists convert it into a dictionary

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [66]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# Write your code here

def create_dic(item1, item2):
    dict1 = {}
    for i in range(len(keys)):
        key = keys[i]
        value = values[i]
        dict1[key] = value
    return dict1

# Solution

In [67]:
def convert_to_dic(keys, values):
    dic = {}
    n = len(keys)
    for i in range(n):
        key = keys[i]
        value = values[i] # the value
        dic[key] = value # filling the dictionary
    return dic

In [68]:
convert_to_dic(keys, values)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Exercise : Merge following two Python dictionaries into one

In [70]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [71]:
#write your answer here.

# Two solutions.

In [72]:
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Go over this again

In [73]:
def combine_dicts(dict1, dict2):
    for key in dict2:
        value = dict2[key]
        dict1[key] = value
    return dict1

combine_dicts(dict1, dict2)

dictionary2 Thirty 30
dictionary2 Fourty 40
dictionary2 Fifty 50

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Exercise : Access the value of key history from the below dict

In [194]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

# Solution

In [196]:
sampleDict["class"]["student"]["marks"]["history"]

80

Refrences:

[1] http://tutors.ics.uci.edu/index.php/79-python-resources/118-python-for-exercises

[2] https://www.programiz.com/python-programming/for-loop

[3] https://www.geeksforgeeks.org/python-program-to-find-the-sum-of-all-items-in-a-dictionary/

[4] https://pynative.com/python-dictionary-exercise-with-solutions/