# Introduction.

So far, you’ve accessed data via CSV files, Pandas DataFrames, and APIs. In this module, you’ll upgrade your data management skills by working with another method of data storage and organization: databases. Using a combination of Python, Pandas, and Structured Query Language (SQL), you’ll interact with databases to do analysis tasks and to create sophisticated financial applications.

Review the following video to learn more about what to expect this week:

# Roadmap

- Use SQL and Pandas to access stock data from a database and create DataFrames.
- Write advanced SQL statements that optimize the process of accessing the data that you need for the analysis.
- Create a web application that displays the results of your analysis by using the Voilà Python library.

# Why This Matters.

People often store and access financial data that resides in databases. SQL has become the standard for querying data—that is, requesting or inquiring about data—from the most commonly used databases in finance. These databases include Microsoft SQL Server, PostgreSQL, MariaDB, and MySQL.

Knowing how to use SQL along with Python will give you an advantage among fintech professionals. Getting and manipulating data via databases and building applications that use databases are invaluable and sophisticated skills.

# What You Will Learn

By the end of this module, you’ll be able to:

- Perform key database operations (specifically, create, read, update, and delete operations) by using SQL.

- Write advanced database queries by using SQL.

- Build complete financial applications by using SQL and Python.

- Deploy a financial application to the web to share your analysis with others.

# Installation.

In this Getting Started guide, you’ll set up the tools that you need for this module, which include:

- SQLAlchemy

- Voilà

Let’s start with SQLAlchemy.

## Install SQLAlchemy

SQLAlchemy is an open-source SQL library for Python. It’s designed to ease the communication between Python-based programs and databases. The SQLAlchemy library should have installed on your computer as part of the Anaconda download.

To confirm that SQLAlchemy installed in your Conda dev environment, open a terminal window, and then complete the following steps:

`Activate your Conda dev environment`.

Run the following command:

`conda list sqlalchemy`

If SQLAlchemy is already installed, sqlalchemy and its version number will display in your terminal, as the following image shows. In this case, you don’t need to do anything further for SQLAlchemy. Move to the next section to install Voilà.

`pip install SQLAlchemy`



`conda list sqlalchemy`

# Install Voilà
With Voilà, a Python library, you can convert a Jupyter notebook into a live webpage. You’ll need this library later in the module when you create web applications that use databases.

`conda install -c conda-forge voila`

# Introduction to Financial Databases.

In finance, vast amounts of data—from credit card transactions to stock data to 401(k) transactions—are generated and stored every day. Because of the speed, size, and dynamic nature of this data, companies need tools to store and access the data in an organized way. They do this through repositories known as databases. Companies use financial databases in particular to build all sorts of financial applications and APIs.

With financial databases, companies can store, organize, and analyze large amounts of data. SQL is a language that was designed to help manage and analyze data that’s in databases. We can also use it with Python to build applications that interact with databases. SQL has become a standard language for people in roles that involve working with data, such as data engineers, data analysts, and data modelers.

In this lesson, you’ll learn how to create and use financial databases with SQL and Python.

# Databases vs. DataFrames.

To understand databases, let's first discuss CSV files and DataFrames.

So far, you’ve worked a lot with CSV files—which are text files that store comma-separated values in a row-and-column format. This is called tabular data, which offers an excellent way to store a small amount of data that doesn't change much. However, you've observed the dynamic and varied nature of financial data. Text files just aren't sufficient for analyzing or working with dynamic data.

The Pandas developers realized that financial technologists needed more dynamic ways to access and work with data. So, they created a data container in Python called the DataFrame—which you’ve also worked with extensively. A DataFrame stores the rows and columns of CSV data in a container that many tools can access. These tools help us manipulate and analyze the data. Databases are thus like Pandas DataFrames in that they’re designed to store, access, and analyze data. Unlike Pandas DataFrames, however, databases exist outside Python.

# Types of Databases.

Databases offer a wide range of benefits. These include the ability to handle vast amounts of data and to spread across many computers and networks (which is often referred to as the cloud).

Although several database structures exist, the financial sector most commonly uses `relational databases` and `NoSQL `databases.
#### Note
People consider a relational database the most mature of all the database structures. In a relational database, every piece of information has a relationship with every other piece. Additionally, a relational database stores data records as tables, with every table consisting of rows and columns. The rows in a single table relate to each other via a primary key. The tables relate to each other via a foreign key. Because of the formal organizational structure of relational databases, people can understand and navigate them by using a query language like SQL.

A NoSQL database doesn’t keep data in tables. Rather, it uses a simpler, horizontal design. Specifically, it keeps data in documents. When a document is added to the database, it’s assigned an identification number, or key. The key can then be used to access that document. Because of its less rigid structure, people consider NoSQL databases more flexible than relational databases. And NoSQL databases often exhibit a faster querying time. The downside is that the less rigid structure can more easily result in duplicated or missing data.

Besides relational and NoSQL databases, centralized, distributed, cloud, and object-oriented databases exist. You can explore all of these in more detail in the Tutorials Point database tutorial
-------------------------------------------------------------------------------------------------------------------------------

While many types of databases exist, we’ll focus on relational databases. This type of database stores its data in a table format (that is, in rows and columns).

The best way to learn how to interact with a database is to use Python and SQL. In this lesson, we’ll work with a database called SQLite, which we can interact with via Python. However, you can apply the skills that you learn to any relational database, including PostgreSQL, MySQL, and cloud databases.

Let’s get started working with financial databases!
---------------------------------------------------------------------------------------------------------------------------------

In a professional fintech environment, you’ll likely access databases via the firm’s computer network or the internet. The latter will likely be the case if a cloud infrastructure, like Amazon Web Services (AWS) or Microsoft Azure, stores the database. However, it’s also possible to mimic the functionality of a financial database on your local computer. To do this, you can use the SQLAlchemy Python library. This library facilitates the communication between a Python program and a database that you create from a Jupyter notebook. As always, you begin by importing the library.

## Import SQLAlchemy
Because databases exist outside Python, we need to import a new tool that allows us to communicate with those databases. Specifically, we’ll use the SQLAlchemy library.

To import the SQLAlchemy library into a Jupyter notebook, we run the following code:

In [1]:
import pandas as pd


import sqlalchemy

Next, we need a way in Python to interact with the database. To do this, we’ll use SQLAlchemy to create an engine.

# Create a Database Engine.

An engine is a tool that can communicate with our database. Think of it as a smart connection that knows the dialect, or type, of database that we have and how to connect and interact with it.

First, we need to define a connection string to connect to our database. The connection string tells the engine the type of database that we’re using and other important connection details, like a password, server name, port number, or IP address.

We’ll assign a value to the connection string that creates a temporary SQLite database, as the following code shows (in this case, the connection string doesn’t require additional connection details):

# Set the connection and create the engine.

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

engine = sqlalchemy.create_engine(database_connection_string)
engine

Engine(sqlite:///)

# use the engine to get the names of table data.

In [3]:
# Get table names.
engine.table_names()

C:\Users\omarm\AppData\Local\Temp/ipykernel_12512/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

Oops! The empty brackets indicate that no tables exist. This makes sense, because we haven’t yet created any. So, let’s create a Pandas DataFrame to represent a table. We’ll name the DataFrame stocks_dataframe and give it two columns, “AAPL” and “GOOG”, that contain fictional pricing data. The following code captures all this:

In [4]:
stocks_dataframe = pd.DataFrame({'AAPL': [1, 2], 'GOOG': [3, 4]})
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

# put data in the database.

Next, we’ll use this DataFrame to create a table of data in the SQLite database. To do so, we’ll use the `to_sql` function. This function accepts a table name and a database engine and then converts the Pandas DataFrame to a database table, as the following code shows:

### From DataFrame to DataBase

In [ ]:
stocks_dataframe.to_sql('stocks', engine)

Let's query the database engine again to make sure that the table now exists.
People often use the term query when referring to a SQL database. A database query can refer to either a select query or an action query. A select query requests information from a database. An action query requests that the database apply an action—such as an addition, update, or deletion—to its information. People also use the term query to refer to any SQL statement that the database engine acts on. We’ll cover specific queries later in this module.

In [7]:
engine.table_names()

C:\Users\omarm\AppData\Local\Temp/ipykernel_12512/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['stocks']

Do you wonder where the database is and how to get data from it? Currently, your SQLite database resides in your computer’s memory—but only temporarily. As soon as you close your Jupyter notebook, the database will disappear. If you want to save the database to access it in the future, you can specify a file name, such as `sqlite:///mydatabase.db`. which will reside on your computer's hard drive. But for now, it’s easier to use the temporary in-memory database, sqlite:///.

We now have a table named `stocks`in our SQLite database. In the next section, we’ll read the table from the database and use the information to create a Pandas DataFrame.

# Read a Table into a DataFrame

The stocks table in our database originated from a Pandas DataFrame named stocks_dataframe that we created. Let’s now erase our knowledge of the original DataFrame—that is, pretend that stocks_dataframe never existed; but let's accept that the populated stocks table already exists. So, we’re observing the stocks table in the database for the first time. How do we create a Pandas DataFrame from this table?

We can read any database table into a Pandas DataFrame by using the read_sql_table function and specifying the name of the table—in this case, stocks. We also need to tell Pandas to use our engine as the connection to the database by setting the con=engine parameter. The following code shows these steps:

## From DataBase to DataFrame.

In [9]:
sql_stocks_df = pd.read_sql_table('stocks', con=engine)
sql_stocks_df

   index  AAPL  GOOG
0      0     1     3
1      1     2     4

Notice the index column. When we originally created the database table, we didn’t tell SQL to ignore the index of the DataFrame. So, it created a column in the database table to store the index. While this can prove helpful if the index contains important information (such as a date or a customer ID number), the information in this index column doesn’t add any value. We can remove the index column by setting the `index` parameter of the `to_sql` function to `False`.

We’ll also add an `if_exists` parameter to the `to_sql` function and set its value to `replace`. This will remove the existing stocks table from the database and replace it with the current information. If we don’t set this parameter, we’ll receive an error message indicating that a table with the name stocks already exists. In this case, the database won’t take any further action. But by setting if_exists to replace, we remove the original stocks table and replace it with the new, index-free version.

In [10]:
# to put in the database and replace any old tables.
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')

# to read it and see the results of the table.
sql_stocks_df = pd.read_sql_table('stocks', con=engine)

# table -> Df
sql_stocks_df

   AAPL  GOOG
0     1     3
1     2     4

The result is a new version of our sql_stocks_df DataFrame, as the following image shows.
Nice! We can now interact with databases by using Python—without having to worry about SQL. So, we’ll do everything with Pandas. Well, unless the database tables are too large to transfer across the network. Or if a database resides in the cloud so is optimized for cloud computing. In these cases, we might want to use SQL—so let’s explore it, after all.

Nice! We can now interact with databases by using Python—without having to worry about SQL. So, we’ll do everything with Pandas. Well, unless the database tables are too large to transfer across the network. Or if a database resides in the cloud so is optimized for cloud computing. In these cases, we might want to use SQL—so let’s explore it, after all.

# SQL: Executing Raw SQL Queries

Unfortunately, we can't do everything with pure Python and Pandas. Sometimes, writing and executing SQL queries directly on our databases proves advantageous. After all, it’s called Structured Query Language, so it’s designed to directly interact with databases.

In this lesson, we’ll execute raw SQL queries through our SQLAlchemy engine. This will ease switching between Python and SQL so that we can get the best of both worlds!

# What’s CRUD?
CRUD is an acronym that stands for 
- Create 
- Read
- Update 
- Delete. 

If you learn these four operations, you can build just about any application that uses SQL and databases.Let’s start with the first one: create.

Let’s review how Pandas created our stocks table. If we change our engine to echo, or display, the SQL code back in the notebook, we’ll get the raw SQL that created the table. To do this, we’ll create a new engine and set `echo=True`, as the following code shows:

In [11]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

# Create the database engine
engine = sqlalchemy.create_engine(
    database_connection_string,
    echo=True
)

In [12]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')

2021-11-18 19:01:35,778 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2021-11-18 19:01:35,779 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:01:35,780 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2021-11-18 19:01:35,781 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:01:35,783 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 19:01:35,783 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"AAPL" BIGINT,
	"GOOG" BIGINT
)


2021-11-18 19:01:35,784 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2021-11-18 19:01:35,784 INFO sqlalchemy.engine.Engine COMMIT
2021-11-18 19:01:35,785 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 19:01:35,786 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("AAPL", "GOOG") VALUES (?, ?)
2021-11-18 19:01:35,787 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ((1, 3), (2, 4))
2021-11-18 19:01:35,788 INFO sqlalchemy.engine.Engine COMMIT

Whoa! A lot displays, but we need to pay attention to only a couple of things.

First, the following SQL statement creates the table:

In [ ]:
CREATE TABLE stocks (
    "AAPL" BIGINT,
    "GOOG" BIGINT
)

This is the raw SQL statement—specifically, the CREATE TABLE statement—that creates the empty table.

Let’s closely examine the structure of this statement. The code block starts with the CREATE TABLE SQL syntax, and the table name and a set of parentheses follows. Inside the parentheses is the name for each column in the table along with the data type of the information that the column will contain.

Now, consider the following basic syntax of the CREATE TABLE statement:

We can apply this syntax to the SQL statement that created our stocks table. Our statement told the database to create a table named stocks that has columns named “AAPL” and “GOOG”. An unfamiliar term, BIGINT, represents the data type for the column values. It means big integers.

In [ ]:
INSERT INTO stocks ("AAPL", "GOOG") VALUES (112, 653)

# Create a Table via a Raw SQL Statement

Let's first create the SQL statement as a multiline string so that we can use it more easily in Python. To create a multiline string in Python, we use the f-string format with triple quotes. The following code shows our SQL statement as a multiline string in Python:

In [15]:
create_table = 
"""
CREATE TABLE stocks (
    "AAPL" BIGINT,
    "GOOG" BIGINT
)
"""
create_table

'\nCREATE TABLE stocks (\n    "AAPL" BIGINT,\n    "GOOG" BIGINT\n)\n'

Let’s now change this SQL statement a bit and create a table named delicious_stocks. We’ll also change the stock tickers to those for Brinker International (“EAT”) and The Cheesecake Factory Incorporated (“CAKE”). The following code shows these steps:

In [16]:
create_table = """
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)
"""

Now that we have the SQL strings, we can execute the SQL statement with our engine by using the execute function, as the following code shows:

In [17]:
engine.execute(create_table)

2021-11-18 19:08:30,531 INFO sqlalchemy.engine.Engine
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)

2021-11-18 19:08:30,532 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:08:30,533 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
engine.table_names()

2021-11-18 19:08:45,474 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-18 19:08:45,475 INFO sqlalchemy.engine.Engine [raw sql] ()

C:\Users\omarm\AppData\Local\Temp/ipykernel_12512/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['delicious_stocks', 'stocks']

If we now read the delicious_stocks table into Pandas by running the following code, we should get an empty DataFrame (remember that the delicous_stocks table has two columns, “EAT” and “CAKE”, but no data):

In [19]:
pd.read_sql_table('delicious_stocks', con=engine)

2021-11-18 19:10:20,183 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-18 19:10:20,184 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,185 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2021-11-18 19:10:20,186 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,187 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2021-11-18 19:10:20,188 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,189 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-11-18 19:10:20,190 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2021-11-18 19:10:20,192 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2021-11-18 19:10:20,192 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,193 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2021-11-18 19:10:20,194 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,194 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-11-18 19:10:20,195 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2021-11-18 19:10:20,196 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2021-11-18 19:10:20,197 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,197 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2021-11-18 19:10:20,198 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,198 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2021-11-18 19:10:20,199 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,200 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2021-11-18 19:10:20,200 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:10:20,200 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-11-18 19:10:20,201 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2021-11-18 19:10:20,202 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2021-11-18 19:10:20,203 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ()

Empty DataFrame
Columns: [EAT, CAKE]
Index: []

In [20]:
insert_data = """
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)
"""

In [21]:
engine.execute(insert_data, ((10, 30), (20, 40)))

2021-11-18 19:16:43,062 INFO sqlalchemy.engine.Engine
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)

2021-11-18 19:16:43,063 INFO sqlalchemy.engine.Engine [raw sql] ((10, 30), (20, 40))
2021-11-18 19:16:43,064 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
pd.read_sql_table('delicious_stocks', con=engine)

2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2021-11-18 19:16:56,244 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2021-11-18 19:16:56,259 INFO sqlalchemy.engine.Engine [generated in 0.00038s] ()

   EAT  CAKE
0   10    30
1   20    40

The preceding output indicates that our code worked, because the table of data displays after several lines of SQL code.

We’ve now covered the create part of CRUD. Next, we’ll explore the read part. So far, we’ve used Pandas to read our tables into DataFrames. But, another option is to directly read table data by using SQL. Let’s examine this next.

# Read Data

To read table data directly from the database by using raw SQL, we use a SELECT statement according to the following syntax:

In [ ]:
SELECT column_name, column_name, …
FROM table_name

In [23]:
read_all_data = 
"""
SELECT "EAT", "CAKE" FROM delicious_stocks
"""
engine.execute(read_all_data)

2021-11-18 19:18:14,972 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2021-11-18 19:18:14,974 INFO sqlalchemy.engine.Engine [raw sql] ()

In [24]:
read_all_data = """
SELECT "EAT", "CAKE" FROM delicious_stocks
"""
results = engine.execute(read_all_data)
for row in results:
    print(row)

2021-11-18 19:18:26,334 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2021-11-18 19:18:26,334 INFO sqlalchemy.engine.Engine [raw sql] ()
(10, 30)
(20, 40)

In [25]:
results = engine.execute(read_all_data)
list(results)

2021-11-18 19:19:16,508 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2021-11-18 19:19:16,509 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40)]

Once a list (or other type of data container) contains the results, we can use them to populate the values in a Pandas DataFrame. From there, the options for analysis are endless!

But, that’s not all. A shortcut exists for selecting all the columns of data. Specifically, we use the asterisk `(*)` as a wildcard with the `SELECT` statement. This tells SQL to read all the columns of data in the table.

In [26]:
read_all_data = 
"""
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2021-11-18 19:19:58,946 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2021-11-18 19:19:58,948 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40)]

Later in the module, we’ll more closely examine the SELECT statement and learn how to conditionally select data from the database. But for now, let’s keep the focus on the CRUD operations. Next up: update.

# Update Data

Just like we sometimes updated values in Pandas DataFrames by using loc and iloc, we might need to update data in our database tables. In SQL, we update values by using the UPDATE statement. The syntax is as follows:

UPDATE table_name

SET column_name conditional_operator new_table_value

WHERE column_name conditional_operator current_table_value

In [ ]:
UPDATE table_name
SET column_name conditional_operator new_table_value
WHERE column_name conditional_operator current_table_value

Notice that the UPDATE statement has a few new keywords, as follows:

The UPDATE keyword: This specifies the table that we want to update.

The SET keyword: This sets new values in the table.

The WHERE keyword: This finds existing values in the table that meet the specified condition.

In [27]:
update_cake = """
UPDATE delicious_stocks
SET CAKE = 100
WHERE CAKE = 40
"""
engine.execute(update_cake)

2021-11-18 19:26:21,187 INFO sqlalchemy.engine.Engine
UPDATE delicious_stocks
SET CAKE = 100
WHERE CAKE = 40

2021-11-18 19:26:21,189 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:26:21,190 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2021-11-18 19:26:31,390 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2021-11-18 19:26:31,390 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 100)]

Notice that at the end of the output, the information from the table displays as a list that reads [(10, 30), (20, 100)]. The value of 100 now resides in the location that the value of 40 previously occupied. This confirms that we successfully updated the value of 40. Nice! We can feel better about this adjustment.

However, say that we should have deleted the value of 40 instead of updating it. This is where we use the final CRUD operation: delete.

# Delete Data.

We’ll start this discussion by emphasizing the following: don’t be the person who accidentally deletes all the data in the company database! Trust us—you don’t want to be that person.

Luckily, the SQL `DELETE` statement includes a `WHERE` clause to pinpoint the exact data that you want to delete.

In [ ]:
DELETE FROM table_name
WHERE table_name conditional_operator current_table_value

In [29]:
delete_eat = 
"""
DELETE FROM delicious_stocks
WHERE EAT = 20
"""
engine.execute(delete_eat)

2021-11-18 19:29:50,843 INFO sqlalchemy.engine.Engine
DELETE FROM delicious_stocks
WHERE EAT = 20

2021-11-18 19:29:50,844 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-18 19:29:50,846 INFO sqlalchemy.engine.Engine COMMIT

Notice that the output displays the SQL `DELETE` statement and then, two lines later, the confirmation of our action via the `COMMIT` command.

To confirm this action, let’s read the table data and then display the output, as the following code shows:

In [30]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2021-11-18 19:30:27,134 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2021-11-18 19:30:27,135 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30)]

Again, we notice the SQL query, which is now a SELECT statement. But, the output then shows only one row of data—specifically, [(10, 30)].

We accidentally deleted the entire row that matched the condition! The output reflects only the values from the first row of data—specifically, [(10, 30)]. The values from the second row—[(20, 100)]—disappeared.

Lesson learned: The DELETE statement removes the entire row of data that matches the specified condition. It doesn’t remove only the single element that you intended for deletion. Unless your intention is to delete the entire row of data, consider using the UPDATE statement to change the value of the single element. For example, you can update the element with a value like 0 or ‘N/A’.

Now that you’re fluent with CRUD operations, you’ll apply them to financial data.