# Lecture 3 :: Loops, Lists & Problems.

### Quick-Recap
    - if else <- your mistakes were mainly in indentation and `:`
    - swapping
    - power
    - variable = input()
    - int(input()) casting
    - nested if

###### To the power

In [ ]:
3**2

#### Swapping

##### Swapping: Method 1

In [51]:
x = 97
y = 24
temp = 0

temp = x
x = y
y = temp
print("The value of X is ",x)
print("The value of Y is",y)
print()

The value of X is  24
The value of Y is 97

##### Swapping: Method 2

In [52]:
x = 97
y = 24
x, y = y, x 

print()
print()
print("The value of X is ",x)
print("The value of Y is",y)

The value of X is  24
The value of Y is 97

# Lists

- Mutable data structure. 
- Array has indeces starting from `0`.

In [34]:
# how to create an empty list
emptylist = []

# example of a list containing data
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
list4 = ["omar",7,8,"c",True]
list4

['omar', 7, 8, 'c', True]

### Slicing

##### from the beginning index to before the last index

In [21]:
list4[0:3]

['omar', 7, 8]

##### from the beginning until the before the last index

In [23]:
list4[:3]

['omar', 7, 8]

In [24]:
list4[2:]

[8, 'c', True]

## Some Built-In functions
`len`
`append`
`sum`
`sorted`
`max`
`min`

In [28]:
len(list4) # Gets the length of the list/array

7

In [29]:
list4.append(10000)
list4

['omar', 7, 8, 'c', True, 10000, 10000, 10000]

In [30]:
sum([2, 3, 1])# getting the total sum

6

In [31]:
sorted([2, 3, 1]) # getting the largest value)

[1, 2, 3]

In [32]:
max([2, 3, 1])# getting the largest value

3

In [33]:
min([2, 3, 1])# getting the smallest value

1

# Loops

# for loops
for loops are for iterating over a collection (like a list or tuple) or an iterater. The
standard syntax for a for loop is:

    for value in collection:
     ##### do something with value
     
     
the syntax is the word `for` followed by variable_name then followed by what you are going to iterate over.

    - Then below it you insert what you want to repeat.
       
Note: `range` does not include the last element in it.

In [37]:
for name in ["omar","joe","adel","Mo","casper","ramo","dodo","sharon"]:
    print(name)

omar
joe
adel
Mo
casper
ramo
dodo
sharon

In [38]:
names = ["omar","joe","adel","Mo","casper","ramo","dodo","sharon"]   

for name in names:
    print(name)

omar
joe
adel
Mo
casper
ramo
dodo
sharon

In [40]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

## Getting sum of the array.

In [45]:
sequence = [1, 2, 5, 4]
total = 0
for value in sequence:
    total += value
    
print(total)

12

In [46]:
sum(sequence)

12

# Two other important way to loop through an Array.
## Looping through the indeces.

In [57]:
sequence = [20, 40, 60, 80]

for i in range(len(sequence)):
    print(sequence[i])

20
40
60
80

In [58]:
for idx, value in enumerate(sequence):
    print(idx, value)

0 20
1 40
2 60
3 80

# move more than one step at a time.

In [64]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

### Quick-problem

Make a program that prints the sequence like the following example.
- I=1 
- I=4 
- I=7 
.
.
.
.
.
.
.
I = 100

### Solution ###

In [76]:
for i in range(1, 103, 3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97
100

## problems on Lists & Loops.

Exercise 1: Print First 10 natural numbers using while loop (Easy)
Expected output:

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
### Solve below #####

### Solution

In [65]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

#### Exercise 2: Get Sum (Medium)
Accept number from user and calculate the sum of all number from 1 to a given number

In [ ]:
# Solve here #

# Solution

In [67]:
sum1 = 0
n = int(input("Please enter number "))
for i in range(1, n + 1):
    sum1 += i

print("Sum is: ", sum1)

Please enter number 10


Sum is:  55

# Exercise 3 (Slightly Hard)

In a list [1,2,3,4,5,6,7,8,9]. Please get:
    - the total sum of all the elements.
    - the total sum of all the odd numbers.
    - the total sum of the even numbers.
    
    
Note: To check if a number is odd or even, we use the `%` , meaning x % 2 == 0 then it is even.

In [71]:
### SOlVE here
numbers = [1,2,3,4,5,6,7,8,9]

# Solution

In [72]:
total = 0
total_even = 0
total_odd = 0

for value in numbers:
    total += value
    if value % 2 == 0:
        total_even += value
    else:
        total_odd += value

print(total)
print(total_even)
print(total_odd)

45
20
25

In [ ]:
#

# Nested loops.

In [69]:
adj = ["Red", "Big", "Tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

Red apple
Red banana
Red cherry
Big apple
Big banana
Big cherry
Tasty apple
Tasty banana
Tasty cherry

# Exc 4:I want you to do the opposite of the above nested loop: (Easy)

In [ ]:
#### solve here ####

# Solution

In [70]:
adj = ["Red", "Big", "Tasty"]
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    for y in adj:
        print(x, y)

apple Red
apple Big
apple Tasty
banana Red
banana Big
banana Tasty
cherry Red
cherry Big
cherry Tasty

# Exc 5: Exercise 2: Print the following pattern (Hard)

    1 
    1 2 
    1 2 3 
    1 2 3 4 
    1 2 3 4 5

In [ ]:
### Solve here ###

# Solution

In [ ]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

# Back to the lecture

# `continue` Keyword

In [47]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    
print(total)

12

# `Break` Keyword

A for loop can be exited altogether using the break keyword. This code sums elements
of the list until a 5 is reached:

In [49]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

print(total_until_5)

13

# `while` loops
A while loop specifies a condition and a block of code that is to be executed until the
condition evaluates to False or the loop is explicitly ended with break:

In [74]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [73]:
i = 1
while i < 10:
    print(i)
    i *= 2

1
2
4
8

In [50]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
x

4

# Excercise 1
#### Write a while loop that adds all the numbers up to 100 (inclusive).

In [ ]:
### solve here

# solution

In [ ]:
while counter <= 100:
    total= total+counter 
    counter= counter+1

# Excercise 2
write a while loop that stops appending items to the new list as soon as it encounters an empty string: "". And prints "There is an empty string and returns the new list."

In [ ]:
## Solve here ###

In [ ]:
i = 0
new_list = []
while i < len(list):
    if list[i] != "":
        new_list.append(list[i])
    else:
        break
    i = i+1
    
print(new_list)

# Mini-project :: Guessing game.


Make the computer pick a random number and try to guess it through the `input() ` Keyword if your guess was higher print `higher` if your guess was lower print `lower`, if your guess is correct print `you have guessed` then `break`.

In [77]:
import random
n = random.randint(1, 99) # This how you generate a random number.
# Start your code below here.

# solution

In [ ]:
import random
n = random.randint(1, 99)
guess = int(raw_input("Enter an integer from 1 to 99: "))
while n != "guess":
    print
    if guess < n:
        print "guess is low"
        guess = int(raw_input("Enter an integer from 1 to 99: "))
    elif guess > n:
        print "guess is high"
        guess = int(raw_input("Enter an integer from 1 to 99: "))
    else:
        print "you guessed it!"
        break
    print

#### `pass` : remind me to explain this later.

# End of Lesson 3

Refrences:
- python with data analysis book.
- James topor notes.
- https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/
- https://www.w3schools.com/python/gloss_python_for_nested.asp
- https://holypython.com/intermediate-python-exercises/exercise-9-python-while-loop/
- https://holypython.com/intermediate-python-exercises/exercise-9-python-while-loop/

# Dictionary [Hashmap] -> dict

Dict
<p> dict is likely the most important built-in Python data structure. A more common name for it is hash map or associative array. It is a flexibly-sized collection of key-value pairs, where key and value are Python objects. One way to create one is by using curly braces {} and using colons to separate keys and values: </p>

## How to create a dictionary (Hashmap)

In [2]:
empty_dict = {}

### Examples :: Key - Value pair.

In [3]:
dic1 = {'joe' : 34, 'omar' : 25, 'Ali':56} # mapping

In [9]:
dic2 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [12]:
dic3 = {"name": 'Joey', 
        'age': 34, 
        'kids': ["ali", "sasha", "lily", "adel"]
       }

### Getting the value.

In [53]:
dic1['joe']

34

In [54]:
dic1.get('joe')

34

## You can check if there is `key` in the dictionary using `in` Keyword.

In [13]:
'name' in dic3

True

In [14]:
del dic3["kids"]
print(dic3)

{'name': 'Joey', 'age': 34}

In [15]:
dic3.keys()

dict_keys(['name', 'age'])

In [16]:
dic3.values()

dict_values(['Joey', 34])

In [17]:
dic3.update({'b' : 'foo', 'c' : 12})
dic3

{'name': 'Joey', 'age': 34, 'b': 'foo', 'c': 12}